body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background: url('../images/notalotteryticket.jpg') no-repeat 50% 0% fixed;
  background-size: 100%; 

  background: url('../images/notalotteryticket.jpg') no-repeat center center fixed;

  -webkit-background-size: cover;  
  -moz-background-size: cover;  
  -o-background-size: cover;  
  background-size: cover;  
  -ms-
}

/*a {
  color: #00B7FF;
  color:black;
}*/

.checkbox {
	margin-bottom: 15px;
}

.completed {
	text-decoration: line-through;	
}


.nav navbar-nav{
  color:black;

}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}


.body-wrapper{
	margin-top: 120px;
}
